.red {
  background-color: red;
  color: white;
}
.blue {
  background-color: blue;
  color: white;
}
.orange {
  background-color: orange;
  color: white;
}
.green {
  background-color: green;
  color: white;
}
.black {
  background-color: black;
  color: white;
}
body {
}
button {
  width: 100%;
  border: none;
  border-radius: 4px;
}
